* {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbZKxdyLQTe7DiVGSZLTTFS2c6tiSauajAzQ&usqp=CAU);
    background-size: cover;
    display: grid;
}

title {
    font-size: 50px;    
    justify-content: center;
}

.header {
    height: 30px;
    background: pink;
    flex-direction: row;
}

#playAgain {
    /* align-items: end; */
    background: lightgray;
    align-content: center;
}

section {
    display: flex;
}

section.boards div {
    background: greenyellow;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    flex-direction: row;
  
}

/* Need wrapping every 10 div elements */
section.boards section div:nth-child(10n) {
    flex-wrap: wrap;
    background:black;
}

#playerBoard {
    height: 500px;
    width: 500px;
}

#cpuBoard {
    height: 500PX;
    width: 500px;
}