* {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbZKxdyLQTe7DiVGSZLTTFS2c6tiSauajAzQ&usqp=CAU);
    background-size: cover;
    display: grid;
}

/* **************To hide liveserver code DELETE********************* */
script {
    visibility: hidden;
}

title {
    font-size: 50px;    
    font-weight: bold;
    justify-content: center;
}

.header {
    display: flex;
    height: 30px;
    background: pink;
    flex-direction: row;
    justify-content: space-between;
    ;
}

.header scores{
    display: flex;
    height: 30px;
    width: 100px;
    background: black;
    align-items: center;
    justify-content: space-around;
}

.header scores div{
    display: flex;
    height: 10px;
    width: 40px;
    background: white;
    justify-content: space-between;
}



#playAgain {
    /* align-items: end; */
    background: lightgrey;
    position: relative;
    align-content: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.boards {
    visibility: hidden;
    height: 0px;
}

section.boards div {
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    flex-direction: row;
}

#playerBoard, #cpuBoard {
    display: grid;
    height: 500px;
    width: 500px;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#playerBoard{
    background: maroon;
}

#cpuBoard{ 
    background: lightblue;
}

/************MODAL STYLING*********/
.modal {
    background: lightgrey;
    width: 600px;
    height: 200px;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.modal h1, .modal p, .modal button {
    background: lightgray;
}

#modal1 {
    visibility: visible;
    height: 300px;
    width: 400px;
}

#modal2 {
    visibility: hidden;
    height: 200px;
    width: 400px;
}

#modal3 {
    visibility: hidden;
    height: 200px;
    width: 400px;
}